<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Registry</title>
  <link rel="stylesheet" href="/css/jass.css">
</head>

<body>
  <header class="display-flex justify-space-between align-center p-2">
    
  </header>
   <nav class="navbar">
  <img src="/public/images/logo plus sign .png"> 
   <h1> Blood Donation Association</h1>
 
   <span>
      <a href="/" class="pe-2">Home</a>
    {{#if loggedIn}}
    <button id="logout" class="logout">Logout</button>
    {{else}}
    <a href="/login" class="login">Login</a>
    {{/if}}
    </span>
  </nav>
  <main class="container container-fluid mt-5">
    <!-- Render the contents of the sub layout here -->
    {{{ body }}}
  </main>
  <footer>
      
  </footer>
</body>

</html>
