<!DOCTYPE html>
<div>

  <div class="row">

    <div class="col-4">
     
      <button class="text-danger">Give Blood Today!</button>

    </div>

    <div class="col-8">
    <img src="/images/blood-donation.jpg" alt="Blood Donation Image" class="container-fluid" >
    </div>

  </div>
  

<script src="./js/logout.js"></script>

</div>
