<!DOCTYPE html>
<div>

  <div class="row">

    <div class="col-4">
      <h2>Give Blood Today</h2>

    </div>

    <div class="col-8">
    <img src="/images/blood-donation.jpg" alt="Blood Donation Image">
    </div>

  </div>
  

<script src="./js/logout.js"></script>

</div>
