<div class="row">

  <img src="/images/blood-donation.jpg" alt="Blood Donation Image" class="container-fluid">

</div>   


<div class="row align-center mb-5">
  <a href="/donor">Donor List</a>
</div>


<script src="./js/login.js"></script>
<script src="./js/logout.js"></script>