 <div class="row align-center mb-5">
    <a href="/adddonor">Add Donor</a>
  </div>

  <div class="row align-center mb-5">
    <a href="/search">Search for Blood</a>
  </div>

  <div class="row align-center mb-5">
    <a href="/delete">Delete Donor/Patient</a>
   </div>

  <div class="row align-center mb-5">
    <a href="/add">Add Patient</a>
  </div>

  <div class="row align-center mb-5">
    <a href="/donorlist">Donor List</a>
  </div>

  <div class="row align-center mb-5">
    <a href="/patientlist">Patient List</a>
  </div>

<script src="./js/logout.js"></script>