<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scheduling Page</title>
    <script src="https://cdn.jsdelivr.net/npm/dayschedule-widget@latest/dist/dayschedule-widget.min.js" defer></script>
</head>

<body>

    <dayschedule-widget url='https://blood-donor.dayschedule.com/bloor-donor' options='{ "color": {
        "primary": "#0f0980",
        "secondary": "#afeefe"
    }}'>
    </dayschedule-widget>

</body>

</html>