#logout {
  float: right;
  margin-right: 20px;
  background: none;
  border: none;
  color: white;
}

.navbar {
  background-color: red;
  height: 80px;
}


.header {
  text-align: center;
  color: white;

}

.profileBtn {
  color: white;
  margin-left: 20px;
}

.homeBtn {
  color: white;
  margin-left: 20px;
}


.homepage-image {
  width: 120%;
  height: 100%;
  padding-bottom: 25px;
}

.donorListBtn {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.form-results {
  padding-left: 35px;
}

.card-body p {
  font-size: 30px;
}

.donorProfileCard {
  margin-top: 40px;
  height: 50%;
}

.footer {
  text-align: center;
  background-color: red;
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.login {
  float: right;
  padding-right: 50px;
  color: white;
}

.pe-2 {
  float: left;
  margin-left: 20px;
}

.pe-3 {
  margin-left: 20px;
}

@media screen and (max-width: 450px) {
  .header {
    text-align: center;
    color: white;

  }

  .navbar {
    background-color: red;
    height: 130px;
  }

  .homepage-image {
    width: 99%;
    height: 100%;
    padding-bottom: 25px;
  }

  .homepageText {
    font-size: 60px;
    text-align: center;
  }

  .homepageTextColumn {
    align-items: center;
    margin-left: 70px;
  }

  .donorCard {
    margin-right: 25px;
  }

  .donorProfileCard {
    margin-right: 25px;
  }
}



@media screen and (max-width: 821px) and (min-width: 451px) {

  .navbar {
    background-color: red;
    height: 100px;
    width: 105%;
  }

  .header {
    text-align: center;
    color: white;
    margin-bottom: 20px;

  }

  .homepageText {
    font-size: 40px;
    text-align: start;
  }

  .homepageTextColumn {
    margin-left: 300px;
  }

  .homepage-image {
    width: 99%;
    height: 100%;
    padding-bottom: 25px;
    margin-left: 55px;
  }



}